.ReviewList {
  padding: 0;
  list-style-type: none;
  margin: 0 0 10px;
}

.Articles {
  padding: 20px 25px;
}

.ArticleList {
  padding: 0;
  list-style-type: none;
  margin: 0 0 10px;
}

.Therapies {
  padding: 20px 25px 0 25px;
  background-color: #F7FAFB;
}

.TherapyList {
  padding: 0;
  list-style-type: none;
  margin: 0 0 10px;
}

.Numbers {
  display: flex;
  justify-content: space-between;
}

.Numbers label {
  color: #666;
  font-size: 14px;
}

.Numbers input {
  width: 20%;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 10px;
}

.Set {
  display: inline-block;
  padding: 3px;
  margin-bottom: 10px;
  color: #444;
}

.Caution {
  color: #666;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.Buttons {
  margin: 10px;
  text-align: center;
}

.Combo {
  display: flex;
  justify-content: space-between;
}

.Extra {
  width: 100%;
  resize: none;
  font-size: 13px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  height: 100px;
}

.Company {
  margin-top: 20px;
  text-align: right;
}

.PeriodName {
  color: #6C7391;
  font-size: 14px;
  text-decoration: none;
}

.PeriodRow {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}

.PeriodRow label {
  color: #333;
  font-size: 14px;
}


.PeriodRow input {
  width: 40px;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 2px
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.LayerParent {
  position: relative;
}

.Layer {
  background-color: rgba(244, 247, 246, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Moves {
  padding: 20px 25px;
  background-color: #F7FAFB;
}

.NewTitle {
  padding: 20px 25px;
}

.ReferenceLine {
  display: flex;
  margin-bottom: 10px;
}

.ReferenceTitleLine {
  display: flex;
  justify-content: space-between;
}

.ButtonDiv {
  padding: 10px 0;
}