.Package {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
  min-height: 80vh;
}

.Class {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  color: #666;
}

.DesTable {
  width: 100%;
  padding-right: 20px;
  padding-bottom: 15px;
}

.DesTable td {
  padding: 10px 0;
}

.Left {
  width: 20%;
  text-align: right;
  vertical-align: top;
}

.Right {
  width: 80%;
  color: #333;
}

.TableDiv {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  margin: 10px 0;
  padding: 5px 20px;
  box-sizing: border-box;
}

.Table {
  width: 100%;
  margin: 0 0 6px;
  border-collapse: collapse;
}

.Table th {
  padding: 8px 5px;
  text-align: left;
  color: #888;
  border-radius: 4px;
}

.Table td {
  padding: 8px 5px;
  color: #444;
  border-top: 1px solid #F7FAFB;
  font-size: 15px;
}

.Table tbody tr:hover {
  background-color: #F7FAFB;
}

.Clickable {
  color: #398EFF;
  cursor: pointer;
}

.NewTitle{
  padding: 10px;
}

.NoHomework {
  margin: 10px 0;
}

.Line {
  color: #666;
  font-size: 14px;
  padding: 5px 0 10px;
  text-align: center;
}

.Container{
  display: flex;
  flex-wrap: wrap;
}

.RecordDiv {
  width: 20%;
  padding: 2px;
  box-sizing: border-box;
}

.Record {
  max-width: 100%;
  cursor: pointer;
}

.BigRecord {
  padding-top: 10px;
  width: 100%;
}