.Table {
  width: 100%;
  margin: 0 0 6px;
}

.Table th {
  padding: 8px 5px;
  text-align: left;
  color: #444;
  border-radius: 4px;
}

.Table td {
  padding: 10px 5px;
  color: #444;
}

.Table tbody tr:hover {
  background-color: white;
}

.Clickable {
  cursor: pointer;
}

.Order {
  background: #398EFF;
}


.Name {
  width: 18%;
}

.Manage {
  width: 49%;
}


.Length,
.Paid,
.Unpaid {
  width: 11%;
}

.Note {
  color: #6E7F8E;
  font-size: 13px;
  padding: 0 5px;
}

.Lds {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.Lds:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: Lds 1.2s linear infinite;
}

.Empty {
  background: #eed971;
}

.Center {
  text-align: center;
}

.Choices {
  margin: 0 0 20px;
  width: 33%;
}

.Columns {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.LeftPadding {
  padding-left: 15px;
}


.Image {
  cursor: pointer;
  padding: 0 3px;
  font-size: 13px;
  color: #666;
  vertical-align: middle;
}

@keyframes Lds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 450px) {
  .Name {
    width: 19%;
  }

  .Manage {
    width: 45%;
  }

  .Length,
  .Paid,
  .Unpaid {
    width: 12%;
  }
}