.Videos {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px -10px;
  padding: 0;
}

.Element {
  flex-basis: calc(100%/2);
  padding: 0 8px 10px;
  box-sizing: border-box;
  display: inline-block;
}

.Center {
  text-align: center;
}

.NoImageText {
  color: #666;
  font-size: 14px;
  margin: 10px 0;
}

@media (min-width: 1000px) {
  .Element {
    flex-basis: calc(100%/3)
  }
}

@media (min-width: 550px) and (max-width: 779px) {
  .Element {
    flex-basis: calc(100%/3)
  }
}