.Content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Category {
  color: #3291B9;
  font-weight: 300;
  padding: 10px 5px;
}

.Action {
  font-weight: 300;
  padding: 5px;
  display: inline-block;
  width: auto;
  margin: 5px 15px;
  cursor: pointer;
  font-size: 15px;
}

.Action:hover {
  background: #3291B9;
  color: white;
}

.Chosen {
  background: #3291B9;
  color: white;
}


.First {
  flex-basis: 25%;
}


.Second {
  flex-basis: 75%;
}

.Image {
  width: 100%;
}