.Row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.Buttons {
  display: flex;
  justify-content: flex-start;
}

.Table {
  width: 100%;
  margin: 0 0 6px;
}

.Table th {
  padding: 8px 9px;
  text-align: left;
  color: #444;
  border-radius: 4px;
}

.Table td {
  padding: 5px 9px;
  color: #606060;
}

.Table tbody tr:hover {
  background-color: white;
}

.DoctorHover {
  position: relative;
}

.DoctorHover:hover .DoctorTooltip {
  visibility: visible;
}

.ClientHover {
  position: relative;
}

.ClientHover:hover .ClientTooltip {
  visibility: visible;
}

.DoctorTooltip {
  visibility: hidden;
  width: 260px;
  background-color: #1D7ABB;
  opacity: 0.95;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 120%;
  font-size: 13px;
  margin-left: -130px;
}

.ClientTooltip {
  visibility: hidden;
  width: 260px;
  background-color: #1D7ABB;
  opacity: 0.95;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 120%;
  font-size: 13px;
  margin-left: -130px;
}

.Clickable {
  /*cursor: pointer;*/
}

.Order {
  background: #5EB9DE;
}

.QRCode {
  padding: 20px 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.Confirm {
  padding: 20px 0;
  text-align: center;
}

.Img {
  width: 100%;
  display: block;
}

.Flex{
  display: flex;
  justify-content: space-between;
}

.Background {
  background: #F8FAFB;
}

.Cat {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
}

.SmallRow {
  display: flex;
  justify-content: space-between;
  padding: 0 0 5px;
}