.Category {
  padding: 5px 0 5px 5px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Icon {
  padding-right: 5px;
}

.Cell {
  /*background-color: rgba(255,255,255,.42);*/
  /*box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
  box-sizing: border-box;
  border-radius: 5px;
  margin: 3px 0;
  font-size: 14px;
}

.Root {
  padding: 10px 0 10px 5px;
  font-size: 16px;
}

.Back {
  padding: 10px 5px;
  color: #398EFF;
  font-size: 16px;
}

.Open {
  font-size: 16px;
  padding-left: 15px;
  border-radius: 6px;
}

.Close, .Second {
  padding-left: 15px;
  border-radius: 6px;
  color: #333;
}

.Open:hover, .Close:hover, .Second:hover, .ListItem:hover {
  background-color: white;
}

.ListItem {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #666;
}

.List {
  list-style-type: none;
  padding-left: 30px;
}

.Chosen, .Chosen:hover {
  background-color: #DEEEFE;
  color: #398EFF;
}

/*.Cell:hover {*/
  /*box-shadow: 0 1px 1px rgba(0,0,0,.14);;*/
/*}*/


/*.ListItem:hover {*/
  /*background-color: white;*/
/*}*/