.Support {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
}

.SupportNoMax {
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
}


.Support img,
.SupportNoMax img {
  width: 100%;
  border-radius: 5px;
}

.Support div,
.SupportNoMax div {
  text-align: center;
  font-size: 12px;
}

@media (min-width: 700px) {
  .Support {
    width: 20%;
  }
}