.Row {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.Errors {
  padding: 0;
}

.Errors li {
  display: block;
  color: #C73232;
  font-size: 13px;
}

.Label {
  color: #666;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 10px;
}

.Select {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 6px;
  display: block;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.Note {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.Note span {
  color: #666;
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
}

.Consent {
  color: #666;
  font-size: 14px;
  text-align: center;
  padding-bottom: 15px;
}

.BankInput {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.AlipayInput {
  width: 100%;
  margin-bottom: 15px;
}

.InputElement {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 6px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.Radio {
  color: #666;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 10px;
}

.Content {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
}


.First {
  background-color: white;
  padding: 20px 0;
  border-radius: 20px;
  margin: 10px 0;
}

.FirstWidth {
  width: 90%;
  padding-bottom: 100px;
  margin: auto;
}

.Center {
  text-align: center;
  padding: 10px;
}

.Welcome {
  font-size: 14px;
  padding: 5px;
}

.Login {
  font-size: 13px;
  padding: 5px;
}

.Login a {
  color: #398EFF;
}

.Ques {
  color: #666;
}

@media (min-width: 850px) {
  .FirstWidth {
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .FirstWidth {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .FirstWidth {
    width: 40%;
  }
}