.Content {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
  min-height: 80vh;
}

.Claim {
  font-size: 13px;
  color: #666;
}

.Column {
  margin: 0 5px;
  width: 25%;
}

.Search {
  width: 50%;
  margin: 0 5px;
  position: relative;
}

.SearchButton {
  position: absolute;
  top: 3px;
  right: 5px;
}

.Resources {
  padding: 10px 0;
}

.Row {
  cursor: pointer;
  font-size: 15px;
  color: #333;
  padding: 10px 20px;
  border-radius: 3px;
  border-top: 1px solid #F8FAFB;
}

.Row:hover {
  background-color: #F8FAFB;
}

.List {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  background: white;
  border-radius: 20px;
}

.Block {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.Select {
  width: 100%;
  padding: 6px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  height: 30px;
  border-radius: 5px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}
