.Package {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
}

.Title {
  display: flex;
  justify-content: space-between;
}

.Row {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  font: inherit;
  margin-bottom: 15px;
  width: 100%;
}

.Center {
  text-align: center;
}

.Request {
  padding: 10px 5px;
}

.Time {
  font-size: 12px;
  color: #666;
  padding: 3px 0;
}

.Content {
  font-size: 16px;
  color: #333;
  padding: 5px 0;
}

.FullContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Second {
  flex-basis: 100%;
  box-sizing: border-box;
  order: 3
}

@media (min-width: 600px) {

  .Second {
    flex-basis: 73%;
  }
}
