.TableContent {
  background: white;
  padding: 20px 15px;
  border-radius: 15px;
  min-height: 60vh;
}

.Table {
  width: 100%;
  margin: 0 0 6px;
  border-collapse: collapse;
}

.Tr {
  border-top: 1px solid #F7FAFB;
}


.Table th {
  padding: 0 5px 8px;
  text-align: left;
  color: #999;
}

.Table td {
  padding: 5px 5px;
  color: #555;
  box-sizing: border-box;
  height: 45px;
  font-size: 15px;
}

.Flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Table tbody tr:hover {
  background-color: #F7FAFB;
}

.Image {
  cursor: pointer;
  padding: 0 3px;
  font-size: 13px;
  color: #666;
  vertical-align: middle;
}

.MyName,
.ExpertName {
  width: 50%;
}

.MyLength,
.ExpertLength {
  width: 15%;
}

.MyManage,
.ExpertManage {
  width: 35%;
}

.Note {
  color: #6E7F8E;
  font-size: 13px;
  padding: 0 5px;
}

@media (min-width: 950px) {
  .MyName {
    width: 50%;
  }

  .MyLength {
    width: 15%;
  }

  .MyManage {
    width: 35%;
  }

  .ExpertName {
    width: 50%;
  }

  .ExpertLength {
    width: 15%;
  }

  .ExpertManage {
    width: 35%;
  }
}