.First {
  box-sizing: border-box;
  flex-basis: 100%;
  order: 1
}

.Categories {
  background: white;
  padding: 20px 15px;
  border-radius: 15px;
}

.Category {
  margin-bottom: 15px;
}

.CategoryType {
  padding: 0 0 5px;
  color: #666;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.Description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.NewCategory {
  padding: 5px 20px;
}

.List {
  list-style-type: none;
  padding-left: 20px;
  margin: 5px 0;

}

.ListItems {
  margin: 3px 0;
  border-radius: 5px;
}

.ListItems > li {
  color: #444;
  padding: 5px 0 5px 5px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

.Hover {
  cursor: pointer;
}

.Hover:hover {
  color: #398EFF;
}

.Images {
  display: flex;
  align-items: center;
}

.ListItems > li.Chosen {
  color: #398EFF;
}

.SecondList {
  list-style-type: none;
  padding: 10px 5px;
  margin: 0;
  color: #333;
  font-size: 14px;
  background: #EEF9FD;
  border-radius: 8px;
}

.SecondList li {
  padding: 3px 10px 3px 10px;
  margin: 3px 0;
  border-radius: 4px;
}

.SecondList li:hover {
  background-color: white;
}

.ButtonsAll {
  display: flex;
  justify-content: flex-start;
  padding: 5px 20px 10px;
  border-bottom: 1px solid #F8FAFB;
}

.Buttons {
  display: flex;
  justify-content: flex-end;
}

.CategoryRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SecondCategoryRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.DiseaseButtons {
  text-align: center;
}

.Image {
  padding: 0 3px;
  cursor: pointer;
}

.Note {
  color: #666;
  font-size: 13px;
}

.Found {
  color: #777;
}

.SearchRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Diseases {
  list-style-type: none;
  padding-left: 0;
}

.DiseaseCategory {
  font-size: 15px;
  color: #333;
}

.Img {
  width: 100%;
  display: block;
  margin: auto;
}

@media (min-width: 600px) {
  .First {
    flex-basis: 23%;
  }

  .Categories {
    min-height: 60vh;
  }

}
