.Toolbar {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  align-items: center;
  box-sizing: border-box;
}

.Toolbar .First {
  height: 80px;
  width: 100%;
  /*background-color: #222f3e;*/
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 90;
}


.Toolbar .Second {
  height: 90px;
  width: 100%;
  /*background-color: #397693;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}


.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

.CARM {
  height: 80%;
}

.Note {
  display: none;
}

.Plus {
  color: #398EFF;
  font-size: 40px;
  align-items: center;
  font-weight: bold;
}

.Plus.hover,
.Plus:hover {
  cursor: pointer;
}

.Tooltip {
  visibility: hidden;
  width: 90px;
  background-color: #398EFF;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 40px;
  font-size: 13px;
  margin-left: -130px;
}

.TooltipSeen {
  visibility: visible;
}

.Tooltip ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Tooltip ul li {
  font-size: 15px;
  margin: 4px 0;
}

.Tooltip ul li.hover,
.Tooltip ul li:hover {
  cursor: pointer;
}

.LoAndRe {
  display: none;
}

.White {
  color: white;
}

/*@media (max-width: 650px) {*/
  /*.Toolbar .Second > a {*/
    /*display: none;*/
  /*}*/
/*}*/


@media (min-width: 950px) {
  .Note {
    display: inline;
    color: white;
    vertical-align: bottom;
    padding-left: 10px
  }
}

@media (min-width: 600px) {
  .Toolbar .First {
    height: 80px;
    width: 100%;
    /*background-color: #222f3e;*/
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 90;
  }

  .Plus {
    display: none;
  }

  .Tooltip {
    display: none;
  }

  .LoAndRe {
    display: block;
  }
}


