.Content {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
}

.First {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 0;
  border-radius: 20px;
  margin: 10px 0;
}

.FirstWidth {
  width: 90%;
  padding-bottom: 100px;
  margin: auto;
}

.SecondWidth {
  width: 90%;
  padding-bottom: 100px;
  margin: auto;
}

.Types {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.Type {
  font-size: 16px;
  padding: 10px 0;
  margin: 0 20px;
  cursor: pointer;
}

.Chosen {
  border-bottom: solid 2px #398EFF;
  color: #398EFF;
}

.List {
  list-style-type: none;
  padding: 0;
}

.List li {
  color: #666;
  padding: 5px;
  background: #F4FBFC;
  margin: 5px 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.List li:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.14);;
}

.Table {
  width: 100%;
}

.Table td {
  padding: 10px 10px;
  color: #444;
  font-size: 15px;
}

.Table tbody tr:hover {
  background-color: white;
}

/*.Key {*/
  /*width: 40%;*/
/*}*/

/*.Value {*/
  /*width: 60%;*/
/*}*/

.Errors {
  padding: 0;
}

.Errors li {
  display: block;
  color: #C73232;
  font-size: 14px;
}

.Title {
  display: flex;
  justify-content: space-between;
}

.Radio {
  color: #666;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 10px;
}

.Select {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 6px;
  display: block;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
}

.QRCode {
  padding: 20px 0;
  width: 50%;
}

.Img {
  width: 100%;
}

.Current, .New {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Image {
  cursor: pointer;
  padding: 0 3px;
  font-size: 13px;
  color: #666;
}

@media (min-width: 700px) {
  .SecondWidth {
    width: 55%;
  }

  .FirstWidth {
    display: flex;
    justify-content: space-between;
  }

  .QRCode {
    width: 20%;
  }
}

@media (min-width: 1000px) {
  .SecondWidth {
    width: 40%;
  }
}


