.Modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 95%;
  padding: 20px 5px;
  left: 2.5%;
  box-sizing: border-box;
  top: 30%;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 20px;
}

.Video {
  top: 14%;
  max-height: 72%;
}

.Review {
  top: 2.5%;
  width: 95%;
  left: 2.5%;
  padding: 10px 0 30px;
}

.Record {
  top: 2.5%;
  width: 95%;
  left: 2.5%;
}

.Category {
  padding: 20px 10px;
  top: 10%;
  width: 95%;
  left: 2.5%;
}

@media (min-width: 500px) {
  .Modal {
    width: 514px;
    left: calc(50% - 257px);
  }
  .Video {
    width: 95%;
    padding: 10px 5px;
    left: 2.5%;
  }
}

@media (min-width: 700px) {
  .Video {
    width: 674px;
    left: calc(50% - 336px);
    padding: 16px;
  }
}


@media (min-width: 860px) {
  .Record {
    width: 600px;
    left: calc(50% - 300px);
  }

  .Review {
    width: 774px;
    left: calc(50% - 387px);
    padding: 10px 0 30px;
  }

  .Category {
    width: 90%;
    left: 5%;
  }
}