.Question {
  background-color: #FCF8E4;
  text-align: center;
  padding: 8px 15px;
  border: 1px solid #f7b519;
  color: #284c5c;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 2px;
}

.SmallFont {
  font-size: 14px;
}

.SmallPadding {
  padding: 4px 15px
}

.NoMargin {
  margin-bottom: 0;
  padding: 3px;
}