.Content {
  /*background-color: #f4f7f6;*/
  margin: auto;
  /*border-radius: 8px;*/
  box-sizing: border-box;
  /*padding-top: 10px;*/
  /*padding-bottom: 150px;*/
  width: 100%;

}

.DocContent {
  /*background-color: #f4f7f6;*/
  margin: auto;
  /*border-radius: 8px;*/
  box-sizing: border-box;
  /*padding-top: 10px;*/
  /*padding-bottom: 150px;*/
  width: 100%;
}

.InPadding {
  padding: 7px 15px 20px;
}

.Navigation {
 display: none;
}

.DocNavigation {
  display: none;
}

.NavigationItems {
  margin: 0;
  padding: 70px 0 0 0;
  list-style: none;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
}

.DocNavigationItems {
  margin: 0;
  padding: 15px 0 10px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.DocNavigationItemsLeft {
  display: flex;
  justify-content: start;
}




.Expand {
  position: absolute;
  padding: 30px 18px;
  cursor: pointer;
}


.One {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  align-items: center;
  /*color: #fff;*/
  width: 100%;
}

.NavigationItem a {
  display: block;
  color: white;
  background-color: #388EFF;
  border-bottom-left-radius: 27px;
  border-top-left-radius: 27px;
  padding: 15px;
  height: 100%;
}



.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active,
.DocNavigationItem a:hover,
.DocNavigationItem a:active,
.DocNavigationItem a.active {
  background-color: #fff;
  cursor: pointer;
  color: #388EFF;
}

.Space {
  padding-left: 10px;
}

.Right {
  padding: 0 10px;
  /*background-color: #f4f7f6;*/
}

.DocRight {

}

.Wide {
  width: 100%;
}

.Footer {
  color: #666;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.Company {
  margin: 10px 0 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.Bei {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #666;
  font-size: 12px;
}

.Footer a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.Footer div p a {
  font-size: 12px;
}

.Footer span {
  font-size: 14px;
  margin: 0 10px;
}



@media (min-width: 600px) {
  .Content {
    display: flex;
    justify-content: space-between;
  }

  .Navigation {
    width: 15%;
    background: #388EFF;
    border-radius: 0 25px 0 0;
    padding-left: 10px;
    min-height: 100vh;
    display: block;
  }

  .DocNavigation {
    background: #388EFF;
    padding: 0 10px;
    margin-bottom: 20px;
    display: block;
  }

  .Right {
    width: 100%;
  }

  .Thin {
    width: 65px;
  }

}


/*@media (min-width: 700px) {*/
  /*.Width70 {*/
    /*width: 90%;*/
  /*}*/
  /*.Width60 {*/
    /*width: 80%;*/
  /*}*/
  /*.Width50 {*/
    /*width: 80%;*/
  /*}*/
  /*.Width40 {*/
    /*width: 60%;*/
  /*}*/
/*}*/

/*@media (min-width: 900px) {*/
  /*.Width70 {*/
    /*width: 80%;*/
  /*}*/
  /*.Width60 {*/
    /*width: 70%;*/
  /*}*/
  /*.Width50 {*/
    /*width: 60%;*/
  /*}*/
  /*.Width40 {*/
    /*width: 50%;*/
  /*}*/
/*}*/

/*@media (min-width: 1100px) {*/
  /*.Width70 {*/
    /*width: 70%;*/
  /*}*/
  /*.Width60 {*/
    /*width: 60%;*/
  /*}*/
  /*.Width50 {*/
    /*width: 50%;*/
  /*}*/
  /*.Width40 {*/
    /*width: 40%;*/
  /*}*/
/*}*/