/*.NavigationItemFirst,*/
/*.NavigationItemLogout,*/
/*.NavigationItemSecond {*/
  /*display: none;*/
/*}*/

.NavigationItemFirst,
.NavigationItemLogout {
  margin: 0 5px;
  /*box-sizing: border-box;*/
  display: flex;

  align-items: center;
}

.NavigationItemFirst a,
.NavigationItemLogout a {
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  color: white;
  height: 30px;
  width: 60px;
  background-color: #398EFF;
  padding: auto;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  border: #398EFF solid 1px;
  line-height: 28px;
}

.White a {
  color: #398EFF;
  background-color: white;
  border: #398EFF solid 1px;
  box-sizing: border-box;
}


.NavigationItemWoLink {
  margin: 0 5px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: auto;
  padding-top: 5px;
  align-items: center;
}

.NavigationItemWoLink a {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  color: white;
  height: 100%;
  padding: 0 10px;
  line-height: 30px;
  font-size: 14px;
}

.NavigationItemFirst a:hover,
.NavigationItemFirst a:active,
.NavigationItemFirst a.active,
.NavigationItemLogout a:hover,
.NavigationItemSecond a:hover,
.NavigationItemSecond a:active,
.NavigationItemSecond a.active {
  /*background-color: #5EB9DE;*/
  cursor: pointer;
}

.Support {
  position: relative;
}

.Support:hover .QR {
  visibility: visible;
}

.QR {
  visibility: hidden;
  width: 160px;
  background-color: #5EB9DE;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  font-size: 13px;
  margin-left: -80px;
}


.QR:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: #5EB9DE;
}

.One {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  align-items: center;
  /*color: #fff;*/
  width: 100%;
}

.NavigationItem a {
  display: block;
  color: white;
  background-color: #388EFF;
  border-bottom-left-radius: 27px;
  border-top-left-radius: 27px;
  padding: 15px;
  height: 100%;
}

.DocNavigationItem a {
  display: block;
  color: white;
  background-color: #388EFF;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px 15px 5px 15px;
  height: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active,
.DocNavigationItem a:hover,
.DocNavigationItem a:active,
.DocNavigationItem a.active {
  background-color: #fff;
  cursor: pointer;
  color: #388EFF;
}



@media (max-width: 650px) {
  .NavigationItemSecond a {
    padding: 10px 10px;
  }
  .NavigationItemFirst a,
  .NavigationItemLogout a,
  .NavigationItemWoLink a {
    padding: 0 8px;
  }
}

@media (min-width: 700px) {


  /*.NavigationItemSecond {*/
    /*margin: 0 5px;*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*height: 100%;*/
    /*width: auto;*/
    /*line-height: 90px;*/
    /*align-items: center;*/
  /*}*/

  /*.NavigationItemSecond a {*/
    /*text-decoration: none;*/
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    /*display: block;*/
    /*color: white;*/
    /*padding: 10px 15px;*/
    /*border-radius: 2px;*/
    /*line-height: 20px;*/
    /*font-size: 16px;*/
  /*}*/
}

