a {
  text-decoration: none;
}

.Row {
  cursor: pointer;
  font-size: 14px;
  color: #333;
  padding: 3px 10px;
  border-radius: 2px;
}

.Category {
  padding: 15px 0 10px;
}

.Row:hover {
  background: white;
}