.Button {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 12px;
  margin: 0 3px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
}


.Button:first-of-type {
  margin-left: 0;
}

.Button:last-of-type {
  margin-right: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.FullWidth {
  width: 100%;
}

.VMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.NoVMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.LargeFont {
  font-size: 15px;
  padding: 4px 7px;
}

.LargePadding {
  padding: 10px 12px;
}

.MiddlePadding {
  padding: 7px;
}

.SmallPadding {
  padding: 4px 5px 3px;
}

.XSmallPadding {
  padding: 2px 4px;
}

.Width30 {
  width: 30%;
}

.Width20 {
  width: 20%;
}

.Success {
  background-color: #398EFF;
}

.New {
  background-color: #31AD38;
}

.Danger {
  background-color: #C73232;
}

.LightDanger {
  background-color: #ba7777;
}

.Light {
  background-color: #70ACD5;
}

.Grey {
  background-color: #F0F3F4;
  color: #444;
}
