.Public {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  display: inline-block;
}

.Public img {
  width: 100%;
  border-radius: 5px;
}

.Public div {
  text-align: center;
  font-size: 12px;
}

@media (min-width: 700px) {
  .Public {
    width: 20%;
  }
}