.Right {
  flex-basis: 100%;
  padding: 20px 13px;
  box-sizing: border-box;
  margin-top: 5px;
  order: 4;
  border-radius: 8px;
  background-color: white;
}

.Block {
  margin-bottom: 15px;
}

.SmallRow {
  display: flex;
  justify-content: space-between;
  padding: 0 0 5px;
}

.SmallRow label,
.SmallRow a {
  color: #5c6f80;
  font-size: 14px;
  text-decoration: none;
}

.Select {
  width: 100%;
  padding: 6px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  height: 30px;
  border-radius: 3px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}

.TextArea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  font: inherit;
  height: 200px;
}

.Plan {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.RealMove {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin: 2px 0;
  box-sizing: border-box;
  border-radius: 4px;
  color: #888;
}

.Article {
  margin-bottom: 15px;
}

.ChosenPeriod .RealMove {
  color: #333;
}

.ArticleMove {
  color: #333;
}

.Periods {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.RealPeriod {
  margin: 0;
  padding: 0;
}

.RealMove span {
  /*line-height: 25px;*/
}

.ClientStill {
  font-size: 14px;
}

.Manage {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
}

.ChosenPeriod {
  box-sizing: border-box;
  border: 1px solid #398EFF;
  border-radius: 5px;
  padding: 3px 8px;
  margin-bottom: 10px;
  background-color: #EEF9FD;
}

.UnchosenPeriod,
.PassedPeriod {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 8px;
  margin-bottom: 10px;
  background-color: #EEF9FD;
}

.PassedPeriod {
  position: relative;
}

.Layer {
  background-color: rgba(244, 247, 246, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Front {
  z-index: 2;
  display: flex;
}

.Icon {
  margin: 0 8px;
  cursor: pointer;
}

.PeriodName {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 0;
}

.PeriodRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.PassedPeriodRow {
  display: flex;
  justify-content: space-between;
}

.GroupName {
  color: #5c6f80;
  font-size: 14px;
  text-decoration: none;
  padding: 0 3px;
}

.ChosenGroupRow {
  display: flex;
  justify-content: space-between;
  padding: 0 0 5px;
  cursor: pointer;
  background-color: #5EB9DE;
  border-radius: 5px;
}

.UnchosenGroupRow {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.ChosenGroupEnd {
  border: 5px solid #5EB9DE;
  border-radius: 2px;
}

.UnchosenGroupEnd {
  border: 5px solid white;
  border-radius: 2px;
}

.ButtonWrap {
  margin: 10px 0;
}

/*.PeriodRow:hover,*/
/*.UnchosenGroupRow:hover {*/
  /*background-color: white;*/
/*}*/



@media (min-width: 400px) {
  .Right {
    flex-basis: 49%;
    order: 2;
  }
}

@media (min-width: 780px) {
  .Right {
    flex-basis: 24%;
    order: 3
  }
}
