.Header {
  text-align: center;
  color: #1665A0;
}

.Features {
  list-style-type: none;
  padding: 0;
}

.Features li {
  margin: 10px 0;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.One {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Picture {
  height: 100%;
  width: 20%;
  margin: 10px 20px 10px 10px;
}

.Light {
  font-size: 12px;
  color: #666;
  margin: 5px 0 5px;
}

.Normal {
  font-size: 14px;
}

.Words {
  display: flex;
  align-items: center;
}

.Words ul {
  margin-left: 50px;
}

.Video {
  width: 100%;
  height: 200px;
}

.Words li {
  padding: 10px;
}

.Summary {
  padding: 20px;
}

.LowerSignUp {
  padding-top: 10px;
  text-align: center;
}

.Or {
  padding: 0 10px;
}

.Flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.Left {
  width: 100%;
  padding: 25px;
  background: #F6F9FA;
  margin: 0 10px 15px 10px;
  border-radius: 25px;

}

.Right {
  width: 100%;
  padding: 25px;
  background: #F6F9FA;
  margin: 15px 10px 15px 10px;
  border-radius: 25px;
  min-height: 80vh;
}

.Title {
  font-size: 20px;
}

.Description {
  background: #fff;
  padding: 10px;
  font-size: 14px;
  color: #666;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  /*border-left: solid #FFC000 4px;*/
}

.Yellow {
  border: solid #FFC000 1px;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 1px;
}

.Green {
  border: solid #6AD37A 1px;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 1px;
}

.Red {
  border: solid #F36E38 1px;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 1px;
}

.Title2 {
  margin: 0;
  font-size: 18px;
}

@media (min-width: 900px) {

  .Flex {
    flex-wrap: nowrap
  }

  .Left {
    width: 75%;
    padding: 25px;
    background: #F6F9FA;
    margin: 0 15px;
    border-radius: 25px;

  }

  .Right {
    width: 25%;
    padding: 25px;
    background: #F6F9FA;
    margin: 0 15px;
    border-radius: 25px;
  }
}


@media (min-width: 600px) {

  .Video {
    width: 100%;
    height: 320px;
  }
}

