.Submit {
  text-align: center;
}

.Block {
  margin-bottom: 15px;
}

.Intro {
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
}

.Blank {
  margin: 15px;
}

.Label {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
}

.Pictures {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.Content {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
}

.First {
  background-color: white;
  padding: 20px 0;
  border-radius: 20px;
  margin: 10px 0 20px 0;
}

.Second {
  background-color: white;
  padding: 20px 0;
  border-radius: 20px;
  margin: 10px 0;
}

.SecondWidth {
  width: 90%;
  margin: auto;
}

@media (min-width: 700px) {
  .SecondWidth {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .SecondWidth {
    width: 40%;
  }
}