.CARM {
  display: none;
}

@media (min-width: 950px) {
  .CARM {
    background-color: #EBF7FA;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
  }

  .CARM img {
    height: 100%;
    border-radius: 50%;
  }
}


