.Content {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
  min-height: 80vh;
}

.Success {
  text-align: center;
  padding: 40px 0;
}

.Select {
  min-width: 120px;
  padding: 4px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  height: 30px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}

.TitleSpan {
  display: inline-block;
  padding-right: 10px;
  color: #333;
}

.Title {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.Class {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.TableDiv {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  margin: 10px 0;
  padding: 5px 20px;
  box-sizing: border-box;
}

.DesTable {
  width: 100%;
  padding-right: 20px;
  padding-bottom: 15px;
}

.DesTable td {
  padding: 10px 0;
}

.Left {
  width: 20%;
  text-align: right;
  vertical-align: top;
}

.Right {
  width: 80%;
  color: #333;
}


.Table {
  width: 100%;
  border-collapse: collapse;
}


.Table th {
  padding: 12px 5px;
  text-align: left;
  color: #888;
  border-radius: 4px;
}

.Table td {
  padding: 12px 5px;
  color: #444;
  border-top: 1px solid #F7FAFB;
}


.Table tbody tr:hover {
  background-color: #F7FAFB;
}

.SmallRow {
  display: flex;
  justify-content: space-between;
}

.SmallRow label,
.SmallRow a {
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
}

.TextArea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  font: inherit;
  margin-bottom: 9px;
}

.SmallSubtitle {
  margin: 5px 0 10px;
  display: flex;
  justify-content: space-between;
}

.Hidden {
  visibility: hidden;
  display: none;
}

.NewTitle{
  padding: 10px;
}

.NewTitleInner {
  padding: 0 25px;
}

.Button {
  padding-top: 10px;
  text-align: center;
}

.Line {
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 14px;
  padding: 10px 0;
}

.OneLine {
  display: flex;
  justify-content: space-between;
}

.Images {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px 0;
}

.Container {
  box-sizing: border-box;
  padding: 2px 0;
  position: relative;
}

.Container:hover .Image {
  opacity: 0.3;
}

.Container:hover .Delete {
  opacity: 1;
}


.Image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.AddRecord {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 12px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #31AD38;
}

.Delete {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.LilButton {
  color: #388EFF;
  cursor: pointer;
}

.Description {
  font-size: 14px;
}

.Container{
  display: flex;
  flex-wrap: wrap;
}

.RecordDiv {
  width: 20%;
  padding: 2px;
  box-sizing: border-box;
}

.Record {
  max-width: 100%;
  cursor: pointer;
}

.RecordEditing {
  max-width: 100%;
}

.BigRecord {
  padding-top: 10px;
  width: 100%;
}

.Label {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 12px;
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #398EFF;
  height: 25px;
  text-align: center;
}

.SmallSubtitle {
  margin-bottom: 5px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}


