.Input {
  width: 100%;
  margin-bottom: 20px;
  position:relative;
}

.Label {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
}

.Grey label {
  color: #333;
}


.InputElement {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 8px 8px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
}

.GreyText {
  color: #666
}

.Height {
  height: 30px;
}

.NoBorder {
  border: none;
}

::placeholder {
  opacity: 0.8;
}

.SmallFont {
  font-size: 13px;
  border-radius: 3px;
}

.SmallPadding {
  padding: 4px 5px;
}

.SmallMargin {
  margin-bottom: 5px;
}

.InputElement:focus {
  outline: none;
}

.NoMargin {
  margin: 0;
}

.NoVMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.SmallRightMargin {
  margin-right: 10px;
}

.Inline {
  display: inline-block;
  width: 60%;
}

.Padding {
  padding: 0 5px;
}

.Padding:first-of-type {
  padding-left: 0;
}

.Padding:last-of-type {
  padding-right: 0;
}

.Grow {
  flex-grow: 1;
  margin-right: 5px;
}

.SearchIcon {
  position:absolute;
  bottom: 3px;
  right: 9px;
}

.DeleteIcon {
  position:absolute;
  bottom: 1px;
  right: 4px;
  cursor: pointer;
}