.Element {
}

.Row {
  display: flex;
  /*justify-content: space-between;*/
  box-sizing: border-box;
  flex-wrap: wrap;
}

.Element, .ElementUp {
  padding: 15px;
  background-color: white;
  margin: 10px 0;
  border-radius: 5px;
}

.Element img,
.ElementUp img {
  width: 224px;
  height: 126px;
  margin: 22px 0;
  border-radius: 5px;
  box-shadow: 3px -3px 3px -1px rgba(0,0,0,.08)
}

.Name {
  color: #111;
}

.FirstCol {
  display: flex;
  justify-content: space-between;
}

.Left {
  flex-basis: 100%;
  color: #C73232;
}

.Manage {
  flex-basis: 100%;
}

.Numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Numbers label {
  color: #666;
  font-size: 12px;
}

.Numbers span {
  flex: 0 50%;
  height: 26px;
}

.Numbers input {
  width: 20%;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-bottom: 5px;
}

.Numbers select {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 12px;
}

.Numbers div {
  font-size: 13px;
}

.Set {
  display: inline-block;
  padding: 3px 0;
  color: #444;
}

.Unit {
  color: #666;
  font-size: 12px;
}

.BigSet {
  color: #444;
  height: 124px;
  overflow-y: scroll;
  font-size: 14px;
  box-sizing: border-box;
  padding: 6px 0;
}


.TherapySet {
  color: #444;
  height: 140px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 6px 0;
}

.RemoveParameter {
  background: #C73232;
  border-radius: 50%;
  color: white;
}

.Group {
  margin: 0 0 5px;
  background-color: #5EB9DE;
  border-radius: 3px;
  color: #5c6f80;
  font-size: 14px;
  padding: 0 3px;
}

.GroupEnd {
  border: 5px solid #5EB9DE;
  border-radius: 2px;
}

.ChartTitle {
  text-align: center;
  padding: 4px 0;
  font-size: 13px;
  color: #5c6f80;
}

textarea {
  width: 100%;
  resize: none;
  font-size: 13px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  height: 115px;
}

@media (min-width: 500px) {
  .Element {
    height: 196px;
  }

  .ElementUp {
    height: 250px;
  }

  .Row {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .Left {
    flex-basis: 60%;
  }



}
