.Picture {
  background-color: transparent;
  box-sizing: border-box;
  position:relative;
  transition: all .2s ease-in-out;
}

.ImgParent {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}


.Move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*width: 100%;*/
  border-radius: 5px;
}

.Picture:hover {
  transform: scale(1.06);
  z-index: 2;
}

.Picture:hover .Move {
  border-radius: 5px 5px 0 0;
}

.Picture:hover .Name{
  color: #000;
  padding-left: 5px;
}

.Picture:hover .Tooltip {
  display: block;
  position: absolute;
  z-index: 2;
}

.Picture:hover .Play {
  display: block;
}

.Logo {
  /*margin: 10.037% 0;*/
  /*width: 100%;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.Row {
  display: flex;
  justify-content: space-between;
}

.ArticleOption {
  width: 30%;
  display: flex;
}

.Tooltip {
  display: none;
  color: #666;
  border-radius: 0 0 6px 6px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
  z-index: 2;
  background-color: white;

}

.Add {
  width: 50%;
}

.Info {
  width: 25%;
  position: relative;
}



.Watch {
  width: 25%;
}

.ArticleWatch {
  width: 50%;
}

.Name {
  font-size: 14px;
  padding: 3px 0;
  color: #333;
}

.NameRef {
  color: #333;
}

.Check {
  position:absolute;
  top: 5px;
  right: 9px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Play {
  position: absolute;
  width: 20%;
  left: 45%;
  top: 28%;
  display: none;
}


.PlayImage {
  opacity: 0.8;
  cursor: pointer;
}

