.Package {
  margin: 0 5px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
}

.Types {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.Type {
  font-size: 16px;
  padding: 10px 0;
  margin: 0 20px;
  cursor: pointer;
}

.Chosen {
  border-bottom: solid 2px #398EFF;
  color: #398EFF;
}

.Title {
  display: flex;
  justify-content: space-between;
}

.Row {
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  font: inherit;
  margin-bottom: 15px;
  width: 100%;
}

.Center {
  text-align: center;
}

.Pack {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.First {
  box-sizing: border-box;
  flex-basis: 100%;
  order: 1
}

.MyTemplate,
.TeamTemplate,
.ClassTemplate,
.MyTemplateWithoutName {
  flex-basis: 100%;
  box-sizing: border-box;
  order: 3
}

.Expert {
  flex-basis: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.Doctors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0 20px;
}

.Doctor {
  display: inline-block;
  flex-basis: 50%;
  color: #333;
  font-size: 14px;
}

.Labels {
  width: 100%;
  padding: 0 0 20px;
}

.KParent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.I {
  padding: 3px 0;
  color: #333;
  font-size: 18px;
}

.NonJ {
  padding: 3px 0;
  color: #333;
  font-size: 15px;
}

.K, .RadioJ {
  display: inline-block;
  box-sizing: border-box;
  padding: 1px 0;
  flex-basis: 33%;
  color: #333;
  font-size: 14px;
}

.RadioTeam {
  box-sizing: border-box;
  padding: 1px 0;
  flex-basis: 33%;
  color: #333;
  font-size: 14px;
}

.Search {
  position: relative;
}

.SearchButton {
  position: absolute;
  top: 3px;
  right: 5px;
}

.TeamSelect {
  background: #fff;
  padding: 20px 15px;
  border-radius: 15px;
}

.Select {
  min-width: 60%;
  padding: 6px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  height: 30px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}

.Modal {
  padding: 10px;
}

.Buttons {
  padding: 10px 0 0;
  text-align: center;
}

.Errors {
  padding: 0;
}

.Errors li {
  display: block;
  color: #C73232;
  font-size: 13px;
}

.CreateTeamButton {
  padding: 10px 0;
}

.CreatorButtons {
  padding: 2px 0;
}

.Label {
  color: #666
}

.Groups {
  text-align: center;
}

.ExpertGroup,
.TeamGroup {
  flex-grow: 1;
}

.AddTemplate {
  text-align: center;
  padding: 20px;
  color: #222;
  font-size: 18px;
}

.Members {
  list-style-type:none;
  padding: 5px 0;
}

.Members li {
  padding: 5px 0;
  color: #333;
  font-size: 15px;
}

.MemberRow {
  display: flex;
  justify-content: space-between;
}

.ModalDiv {
  padding: 10px 40px;
}

.LeaveModal {
  text-align: center;
  padding: 10px;
}

.Flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Teams {
  padding: 0;
  margin: 10px 0;
  list-style-type: none;
}

.Team {
  color: #444;
  padding: 5px 0 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.Team:hover {
  color: #398EFF;
}

.ChosenTeam {
  color: #398EFF;
}

.NoTeam {
  background: white;
  padding: 20px 15px;
  border-radius: 15px;
}

.SendPackage {
  padding: 20px;
}

.Img {
  width: 60%;
  display: block;
  margin: auto;
}


@media (min-width: 600px) {
  .First {
    flex-basis: 23%;
  }
  .MyTemplate,
  .TeamTemplate,
  .ClassTemplate {
    flex-basis: 73%;
  }

  .NoTeam,
  .TeamSelect {
    min-height: 60vh;
  }


}

