.Content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Package {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
}

.Title {
  display: flex;
  justify-content: space-between;
}

.First {
  flex-basis: 100%;
  margin: 5px 0 0;
  padding: 0 5px;
  box-sizing: border-box;
  order: 1;
}

.Middle {
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 5px 0 0;
  order: 2
}

.Subtitle {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.SmallSubtitle {
  margin-bottom: 5px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.Label {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 12px;
  margin: 0 3px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #1D7ABB;
  width: 20%;
  height: 25px;
  text-align: center;
}

.Hidden {
  visibility: hidden;
}

.Description {
  padding: 5px 3px;
  color: #444;
  font-size: 14px;
}

.DescriptionRight {
  padding: 5px 3px;
  font-size: 14px;
  margin: 0 0 15px
}

.DescriptionRightWithout {
  padding: 5px 3px;
  font-size: 14px;
}

.Container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.RecordDiv {
  width: 25%;
  padding: 2px;
  box-sizing: border-box;
}

.Record {
  max-width: 100%;
  cursor: pointer;
}

.Table1 {
  width: 100%;
  margin: 0;
  font-size: 14px;
}

.Left {
  padding: 5px 2px;
  color: #444;
  border-radius: 2px;
  width: 50%
}

.Right {
  padding: 5px 2px;
  border-radius: 2px;
  width: 50%
}

.Table1 tbody tr:hover {
  background-color: white;
}

.Table2 {
  width: 100%;
  margin: 0 0 6px;
}

.Table2 th {
  padding: 8px 5px;
  text-align: left;
  color: #444;
}

.Table2 td {
  padding: 8px 5px;
  color: #444;
  border-radius: 2px;
}

.Table2 tbody tr:hover {
  background-color: white;
}

.Name {
  width: 35%;
}

.Name2 {
  width: 50%;
}

.Length,
.Start {
  width: 10%;
}

.Length2 {
  width: 20%;
}


.Date {
  width: 20%;
}

.Manage{
   width: 25%;
 }

.Manage2 {
  width: 30%;
}

.Note {
  color: #6E7F8E;
  font-size: 13px;
  padding: 0 5px 20px;
}

.Center {
  text-align: center;
}

.Categories {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.AllCates {
  margin-bottom: 20px;
}

.Span {
  background: #f2eab6;
  border-radius: 5px;
  font-size: 14px;
  color: #444;
  padding: 3px;
}

.CategoryItem {
  padding: 4px
}

@media (min-width: 730px) {
  .First {
    flex-basis: 30%;
    width: 30%;
    border-right: 1px #398EFF solid;
  }
  .Middle {
    flex-basis: 70%;
    border-left: 1px #398EFF solid;
  }

  .Label {
    width: 30%;
  }
}

@media (min-width: 1000px) {

  .Label {
    width: 25%;
  }
}
