.Package {
  margin: 0 5px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 5px;
  min-height: 80vh;
}

.Content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Title {
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Search {
  padding: 0 10px 0 15px;
}

.First {
  flex-basis: 100%;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  order: 1
}

.Middle {
  flex-basis: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 8px;
  order: 3;
  position: relative;
  background-color: white;
}

.Note {
  font-size: 14px;
  color: #666;
  padding: 0 15px;
}

.SearchButton {
  position: absolute;
  top: 3px;
  right: 19px;
}

.Player {
  width: 100%;
  height: 180px;
}

.Switch {
  padding: 15px 0;
}

.Table {
  padding: 10px 0 20px;
}

.Center {
  text-align: center;
}

.Buttons {
  text-align: center;
}

.Proposal {
  height: 155px;
}

.ReferenceLine {
  display: flex;
  margin-bottom: 10px;
}

.ReferenceTitleLine {
  display: flex;
  justify-content: space-between;
}

.ButtonDiv {
  padding: 10px 0;
}

@media (min-width: 400px) {
  .First {
    flex-basis: 49%;
  }
}

@media (min-width: 500px) {
  .Player {
    width: 100%;
    height: 360px;
  }
}

@media (min-width: 780px) {
  .First {
    flex-basis: 18%;
  }
  .Middle {
    flex-basis: 54%;
    order: 2;
  }
}


