.Row {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.Switch {
  padding: 5px 0;
  line-height: 28px;
}

.Modal {
  width: 60%;
  margin: auto;
  padding: 10px 0 20px 0;
}

.ForgetParent {
  display: flex;
  justify-content: flex-end;
}

.Forget {
  cursor: pointer;
  color: #666;
  font-size: 13px;
  padding: 0 0 5px;
}

.Buttons {
  text-align: center;
  padding: 15px 0 5px;
}

.Info {
  color: #C73232;
  font-size: 13px;
  padding: 10px 0;
}

.Errors {
  padding: 0;
}

.Errors li {
  display: block;
  color: #C73232;
  font-size: 13px;
}

.Content {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
}

.First {
  background-color: white;
  padding: 20px 0;
  border-radius: 20px;
  margin: 10px 0;
}

.FirstWidth {
  width: 90%;
  padding-bottom: 100px;
  margin: auto;
}

.Types {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.Type {
  font-size: 16px;
  padding: 10px 0;
  margin: 0 20px;
  cursor: pointer;
}

.Chosen {
  border-bottom: solid 2px #398EFF;
  color: #398EFF;
}

.Code {
  display: flex;
  justify-content: space-between;
}

.Input {
  width: 100%;
  margin-bottom: 20px;
}

.Label {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 6px;
  display: block;
  margin-right: 10px;
  width: 70%;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .FirstWidth {
    width: 55%;
  }
}

@media (min-width: 1000px) {
  .FirstWidth {
    width: 40%;
  }
}