.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: row;
}

.NavigationItems p {
  margin: 0;
  color: white;
  box-sizing: border-box;
  display: block;
  padding: 16px 10px;
  height: 100%;
}

.Back a {
  font-size: 14px;
  color: #333;
}