.Text {
  padding: 10px 20px 20px;
  font-size: 16px;
  font-weight: 300;
}

.Groups {
  padding: 10px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Group {
  width: 33%;
  padding: 0 0 20px;
}

.Button {
  cursor: pointer;
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  border: 2px #3291B9 solid;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

.Button:hover {
  background: #3291B9;
  color: white;
}

.Explain {
  font-size: 13px;
  color: #888;
  padding: 2px 30% 0 0;
}