.Content {
  margin: 0 15px;
  background-color: #F8FAFB;
  border-radius: 25px;
  padding: 10px 20px;
  min-height: 80vh;
}

.Claim {
  font-size: 13px;
  color: #666;
}

.Search {
  position: relative;
}

.SearchButton {
  position: absolute;
  top: 3px;
  right: 5px;
}

.Cases {
  padding: 10px 0;
}

.Row {
  cursor: pointer;
  font-size: 15px;
  color: #333;
  padding: 10px 20px;
  border-radius: 3px;
  border-top: 1px solid #F8FAFB;
}

.Row:hover {
  background-color: #F8FAFB;
}

.List {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  background: white;
  border-radius: 20px;
}
